<div class="container mx-auto">
    <form [form Group]="loginForm" class="max-w-md mx-auto">
      <div
        *ngIf="loginService.error"
        class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
        role="alert"
      >
        <svg
          class="inline flex-shrink-0 mr-3 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <div>
          <span class="font-medium">Login failed!</span> Invalid email or
          password.
        </div>
      </div>
      <h5 class="text-xl mb-6 font-medium text-gray-900 dark:text-white">
        Sign in to our platform
      </h5>
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Your email</label
        >
        <input
          formControlName="email"
          type="email"
          id="email"
          aria-describedby="helper-text-explanation"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="name@flowbite.com"
        />
        <p
        *ngIf="controls.email.touched && controls.email.errors?.['required']"
          id="helper-text-explanation"
          class="mt-2 text-sm text-red-600 dark:text-gray-400"
        >
          Email is required.
        </p>
      </div>
      <div class="mb-6">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Your password</label
        >
        <input
          formControlName="password"
          type="password"
          id="password"
          aria-describedby="helper-text-explanation"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="•••••••"
        />
        <p
        *ngIf="controls.email.touched && controls.email.errors?.['required']"
          id="helper-text-explanation"
          class="mt-2 text-sm text-red-600 dark:text-gray-400"
        >
          Password is required.
        </p>
      </div>
      <div class="flex items-center">
        <button
          (click)="login(loginForm.value)"
          [disabled]="loginForm.invalid"
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg mr-5 text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:cursor-not-allowed disabled:bg-blue-400"
        >
          Login to your account
        </button>
        <span class="ml-2 text-sm font-medium text-black-400 dark:text-gray-500"
          >Not registered?
          <a class="text-blue-700" routerLink="/register">Create Account</a></span
        >
      </div>
    </form>
  </div>
  