.container {
    margin: auto;
    h2,
    form {
      text-align: center;
    }
  }
  .quiz_container {
    padding: 20px;
    .quiz_row {
      padding: 5px;
    }
  }
  button {
    border-radius: 3px;
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
  }
  #createBtn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .quiz_btn {
    button {
      border-radius: 3px;
      border: 1px solid green;
      color: green;
      padding: 5px;
      margin: 5px;
      background-color: #fff;
      cursor: pointer;
      &.hover {
        background-color: green;
        color: white;
      }
      &.selected {
        background-color: green;
        color: white;
      }
    }
  }
  .submit_btn {
    text-align: center;
    button {
      width: 500px;
      background-color: #888;
      color: white;
    }
  }
  select {
    padding: 5px;
    cursor: pointer;
    option {
      cursor: pointer;
      padding: 2px;
    }
  }
  #categorySelect {
    width: 270px;
  }