h2 {
    text-align: center;
  }
  .quiz_container {
    padding: 20px;
    .quiz_row {
      padding: 5px;
    }
  }
  button {
    border-radius: 3px;
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
  }
  .quiz_btn {
    button {
      border-radius: 3px;
      border: 1px solid green;
      color: green;
      padding: 5px;
      margin: 5px;
      background-color: #fff;
      cursor: pointer;
      &.correct {
        background-color: green;
        border-color: green;
        color: white;
      }
      &.incorrect {
        background-color: red;
        border-color: red;
        color: white;
      }
    }
  }
  .new_btn {
    padding: 10px;
    text-align: center;
    button {
      width: 500px;
      background-color: #888;
      color: white;
    }
  }
  .result {
    padding: 5px;
    margin: 5px;
    text-align: center;
  }